body {
    margin: 0;
} 

nav li { 
    list-style: none;
    display: inline-block;
    margin-right: 32px;
    
  }
  a {
    font-size: 50px;
    text-decoration: none; 
  }

ul {
    display: flex;
    justify-content: space-between; 
  } 
  header {
    font-family: "Big Shoulders Stencil Display"; 
    padding: 7px;
    margin: 0;
    background-color: dodgerblue;
    color: white;
  }
  
  p 
  {
    
    font-family: "Caveat"   
    
  }

  p 
  {
    font-size: 25px; 
  }

  body 
  {
    background-color: pink
  }
  
  footer {
    font-family: "Roboto Slab", serif;
    padding: 8px;
    background-color: turquoise;
    color: Black;
    text-align: center;
  } 
  
 

